.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 6.4rem;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.6s;
}

.navbar-black{
    background-color: black;
}

.navbar-content{
    display: flex;
}

.navbar-img{
    position: fixed;
    top: 1.2rem;
    left: 1.5rem;
    width: 160px;
    cursor: pointer;
    object-fit: contain;
}

.navbar-buttons{
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    padding: 1rem;
}

.navbar-lang,.navbar-sign{
    padding: 0.5rem ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500 ;
    letter-spacing: 0.5px;
}

.navbar-lang{
    border: rgb(177, 177, 177) solid 0.5px;
    background-color: #111;
}

.navbar-sign{
    background-color: #E50914;
}

.navbar-sign:hover{
    cursor: pointer;
    background-color: #ff2222;
}

.navbar-lang:focus{
    border: white solid 1px;
    background-color: #111;
}


/* MEDIA QUERIES */

@media(max-width:450px){

    .navbar{
      height: 5.5rem;
    }

    .navbar-img{
        position: fixed;
        top: 1.2rem;
        left: 0.8rem;
        width: 135px;
    }

    .navbar-buttons{
        position: fixed;
        top: 0.8rem;
        right: 1rem;
        
        gap: 1rem;
        padding: 1rem 0.4rem;
    }

    .navbar-lang,.navbar-sign{
        padding: 0.4rem ;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: white;
        font-size: 14px;
        font-weight: 500 ;
        letter-spacing: 0.5px;
    }

    .navbar-lang{
        border: rgb(177, 177, 177) solid 0.5px;
        background-color: #111;
    }
    
}

@media(max-width:390px){

    .navbar{
        height: 5rem;
    }

    .navbar-img{
        position: fixed;
        top: 1.2rem;
        left: 0.8rem;
        width: 120px;
    }

    .navbar-buttons{
        position: fixed;
        top: 0.9rem;
        right: 0.6rem;
        
        gap: 0.7rem;
        padding: 0.8rem 0.15rem;
    }

    .navbar-lang,.navbar-sign{
        font-size: 12px;
    }
}