.row{
    color : white;
    padding: 1rem 0rem;
}

.row-title{
    font-size: 28px;
    margin-left: 2.2rem;
}

.card{
    display: flex;
    padding: 1rem 0;
    margin-left: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    color: white;
    object-fit: contain;
}

.card::-webkit-scrollbar{
    display: none;
}

.card-img{
    transition: transform 400ms;
}

.card-img:hover{
    transform: scale(1.1);
}

.card-info{
    padding-top: 0.2rem;
    padding-left: 0.5rem;
}

.not{
    display: none;
}

.landscape{
    padding: 0rem 0.5rem;
    cursor: pointer;

    height: 8rem;
    width: 14rem;
}

.portrait{
    padding: 0rem 0.5rem;
    cursor: pointer;

    height: 16rem;
    width: 12rem;
}


/* MEDIA QUERIES*/

@media(max-width: 450px) {

    .row{
        padding: 0.3rem 0rem;
    }

    .row-title{
        font-size: 25px;
    }

    .card-info{
        font-size: 14.5px;
    }

    .landscape{
        padding: 0rem 0.5rem;
        cursor: pointer;
    
        height: 6rem;
        width: 10.5rem;
    }
    
    .portrait{
        padding: 0rem 0.5rem;
        cursor: pointer;
    
        height: 13rem;
        width: 10rem;
    }

}